@import "../../scss/base.scss";

%srch-input {
  border-radius: 5px;
  border-width: 1px;
  border-color: $clr-ft-border;
  border-style: solid;
  padding: 10px;
  margin-bottom: 10px;
}

.search {
  display: flex;
  flex-direction: column;

  &__container {
    @extend %main-container;
  }

  &__box {
    width: 80%;
  }

  &__input {
    @extend %srch-input;
  }

  &__btn {
    @extend %btn;
    background-color: $clr-green;
    padding: 10px 30px;
  }

  &__add-btn {
    @extend %courses-btn;
    align-self: flex-end;
    display: inline-block;
    width: 200px;
    background-color: $clr-blue-lt;
    padding: 10px 20px;
  }
}
