<footer class="footer">
	<div class="footer__container">
		<div class="footer__top">
			<p class="footer__rights">Copyritht 2019 @ Videocourses, All Rights Reserved</p>
		</div>
		<div class="footer__bottom">
			<nav class="footer__policies">
				<ul class="menu footer__policies__list">
					<li class="menu__item footer__policies__item"><a href="#"
							class="menu__link footer__link footer__link_dark">Privecy Policy</a></li>
					<li class="menu__item footer__policies__item"><a href="#"
							class="menu__link footer__link footer__link_dark">About Us</a></li>
					<li class="menu__item footer__policies__item"><a href="#"
							class="menu__link footer__link footer__link_dark">User Agreement</a></li>
					<li class="menu__item footer__policies__item"><a href="#"
							class="menu__link footer__link footer__link_dark">Copyright Policy</a></li>
				</ul>
			</nav>
			<nav class="footer__social">
				<ul class="menu">
					<li class="menu__item"><a class="menu__link footer__link footer__link_dark fa fa-facebook-square"
							href=""></a></li>
					<li class="menu__item"><a class="menu__link team__link footer__link_dark fa fa-twitter" href=""></a>
					</li>
					<li class="menu__item"><a class="menu__link team__link footer__link_dark fa fa-linkedin"
							href=""></a></li>
					<li class="menu__item"><a class="menu__link team__link footer__link_dark fa fa-dribbble"
							href=""></a></li>
					<li class="menu__item"><a class="menu__link team__link footer__link_dark fa fa-behance" href=""></a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</footer>
