@import "variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  font-family: Raleway, Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
  background-color: $clr-gray;
}

.footer {
  flex-shrink: 0;
}

.container {
  margin: 0 auto;
}

%main-container {
  @extend .container;
  padding: 10px 20px;
}

%vertical-align-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
