$clr-white: #ffffff;
$clr-bg-white: #ffffffee;
$clr-black: #061e37e6;
$clr-gray: #b0bec5;
$clr-green: #19b849;
$clr-blue: #195eb8;
$clr-blue-lt: #03b4fa;
$clr-blue-dark: #5074ad;
$clr-ft-border: #061e37;
$letter-hover-clr: #061e37;

$ten-px: 10px;
$twenty-px: $ten-px * 2;
$thirty-px: $ten-px * 3;
$fifteen-px: $ten-px + 5px;
