$clr-white: #ffffff;
$clr-bg-white: #ffffffee;
$clr-black: #061e37e6;
$clr-gray: #b0bec5;
$clr-green: #19b849;
$clr-green-lt: #0eb84d;
$clr-blue: #195eb8;
$clr-blue-lt: #03b4fa;
$clr-blue-dark: #5074ad;
$clr-red: #ff0000;
$clr-ft-border: #061e37;
$letter-hover-clr: #061e37;

$padding: 10px 20px;
