@import "../../scss/base.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $clr-ft-border;

  &__container {
    @extend %main-container;
    min-height: 100px;
  }

  &__sign-up__btn,
  &__log-out__btn {
    background-color: transparent;
    color: $clr-white;
    border: none;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;

    &:hover {
      color: $clr-blue-lt;
      cursor: pointer;
    }
  }
}
