<header>
    <div class="header header__container">
        <app-logo></app-logo>
        <div class="header__sign-up">
            <button class="header__sign-up__btn">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                Hi, {{headerCtrl.userName}}
            </button>
            <button class="header__log-out__btn"
                    ng-if="headerCtrl.isAuthenticated"
                    ng-click="headerCtrl.logout()">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                Log out
            </button>
            <a class="header__sign-up__btn"
               ng-if="!headerCtrl.isAuthenticated"
               href="/#!/login">
                <i class="fa fa-sign-up" aria-hidden="true"></i>
                Sign up
            </a>
        </div>
    </div>
</header>
